body {
  background: white;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

a {
  background: #5aa190;
  color: white;
  margin-top: 2em;
  padding: 1.5em 1.8em;
  text-decoration: none;
  border-radius: 1em;
  border: 1px aquamarine solid;
  box-shadow: 8px 8px 10px #69b3a3;
}